
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #142950;  
    color: white;  
    text-align: left;  
    padding: 20px;  
}


.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background: #142950;  
    position: fixed;  
    z-index: 100;  
    padding: 0 20px;  
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.Logo {
    margin-left: 30px;
}


.Logo a {
    text-decoration: none;
    color: white;  
    font-size: 20px;
}


.navbar a {
    display: block;
    padding: 23px 20px;
    color: white;  
    text-decoration: none;
}

/* Estilo de los enlaces de navegación cuando se pasa el cursor por encima */
.navbar a:hover {
    background: #FFBD11;  /* Fondo gris oscuro */
}

/* Estilo de la sección principal de contenido */
.content.saber-mas {
    padding-top: 100px;  /* Espacio superior para compensar la cabecera fija */
    padding: 20px;
}

.title {
    padding-top: 80px; ;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
}

/* Estilo de los subtítulos */
h2 {
    margin-top: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #333;  /* Color del subtítulo */
}

/* Estilo de los sub-subtítulos */
h3 {
    margin-top: 15px;
    font-size: 22px;
    font-weight: bold;
    color: #555;  /* Color del sub-subtítulo */
}

/* Estilo de los párrafos */
p {
    font-size: 18px;
    margin-bottom: 20px;
}


pre {
    background-color: #f4f4f4;  /* Fondo gris claro */
    padding: 10px;  /* Espaciado interno */
    border-radius: 5px;  /* Bordes redondeados */
    overflow-x: auto;  /* Permite desplazamiento horizontal */
    margin-bottom: 20px;  /* Espacio inferior */
}


code {
    font-family: 'Courier New', monospace;
    font-size: 16px;
}

ul {
    margin-bottom: 20px;
    padding-left: 20px;  
}

ul li {
    margin-bottom: 10px;
    font-size: 18px;
}
